image boot.vfat {
	vfat {
		files = {
#BOOT_FILES#
		}
	}
	size = 32M
}

image data.ext4 {
	empty = true
	temporary = true
	size = 128M

	ext4 {
		label = "rhythm-data"
		use-mke2fs = true
	}
}

image sdcard.img {
	hdimage {
		align = 1M
	}

	partition boot {
		partition-type = 0x0C
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs_a {
		partition-type = 0x83
		image = "rootfs.ext2"
	}

	partition rootfs_b {
		partition-type = 0x83
		image = "rootfs.ext2"
	}

	partition data {
		partition-type = 0x83
		image = "data.ext4"
	}
}
